@page{
	width: 8.5in;
    height: 11in;
	margin:0;
	@bottom-center {
		content: element(footer);
	}
}
.headerimg
{
    padding:0;
	margin:0;
	width: 8.5in;
}

.headerimg img
{
    width: 8.5in;
}
div.footer {
	display: block;
	padding: 13px;
	position: running(footer);
	text-align: center;
}
body {
	max-width: 850px;
	color: #151938;
	font-family: Arial Unicode MS, Helvetica, sans-serif;
	font-size: 10pt;
	line-height: 18px;
}
table {
	border: 1px solid #38364f;
	border-collapse: collapse;
	width: 90%;
}
th, td {
	padding: 5px;
	border: 1px solid #38364f;
}
.noborder {
	border: 0px;
}
td.heightadjust {
	height: 30px;
}
td.header {
	background-color: #38364f;
	color: white !important;
	font-size: 11pt;
}
td.invoicetotal {
	background-color: #5b576d;
	color: white !important;
}
td.invoicebalance {
	background-color: #5b576d;
	color: white !important;
}