        .table1 {
            margin:0px;
            padding:5px;
            width:100%;
            border:1px solid black;
            border-collapse:collapse;
        }
        .tr1:hover {
	    background-color: #D5D2CA;
        }
        .th1 {
            margin:0px;
            padding:5px;
            background: #FF6D42;
            color: white;
            text-align: center;
            vertical-align: middle;
            border:1px solid black;
            border-collapse:collapse;
            width:5%;
        }
        .th2 {
            margin:0px;
            padding:5px;
            background: #FF6D42;
            color: white;
            text-align: center;
            vertical-align: middle;
            border:1px solid black;
            border-collapse:collapse;
            width:75%;
        }
        .th3 {
            margin:0px;
            padding:5px;
            background: #FF6D42;
            color: white;
            text-align: center;
            vertical-align: middle;
            border:1px solid black;
            border-collapse:collapse;
            width:10%;
        }
        .th4 {
            margin:0px;
            padding:5px;
            background: #FF6D42;
            color: white;
            text-align: center;
            vertical-align: middle;
            border:1px solid black;
            border-collapse:collapse;
            width:10%;
        }
        .td1 {
            margin:0px;
            padding:5px;
            vertical-align: middle;
            border:1px solid black;
            border-collapse:collapse;
            width:5%;
            text-align:center;
        }
        .td2 {
            margin:0px;
            padding:5px;
            vertical-align: middle;
            border:1px solid black;
            border-collapse:collapse;
            width:75%;
        }
        .td3 {
            margin:0px;
            padding:5px;
            vertical-align: middle;
            border:1px solid black;
            border-collapse:collapse;
            width:10%;
            text-align:center;
        }
        .td4 {
            margin:0px;
            padding:5px;
            vertical-align: middle;
            border:1px solid black;
            border-collapse:collapse;
            width:10%;
            text-align:center;
        }
	a.a1 {
	    color: #5B8F22;
	}
